<div>
<input type="text" placeholder="input name" [(ngModel)]="name" /> <br />
  <input
    type="text"
    placeholder="input department"
    [(ngModel)]="department"
  />
  <br />
  <input type="text" placeholder="input photo" [(ngModel)]="img" /> <br />

  <button class="btn btn-outline-info" (click)="addEmployees()">
    Add Employee
  </button>
</div>

<div *ngFor="let emp of employees">
  <ul>
    <li class="border border-primary w-25">
      <p><b>Name:</b> <br />{{ emp.employeeName }}</p>

      <p>
        <b>Department: </b><br />
        {{ emp.employeeDepartment }}
      </p>

      <img [src]="emp.employeeImage" class="w-25 h-25" />
    </li>
  </ul>
</div>