<div>
    <h2>Lecture List</h2>
  
    <ul>
      <li *ngFor="let lecture of lectures; let i = index">
        {{ lecture.topic }} - Date: {{ lecture.date }} - Time: {{ lecture.time }}
        <button (click)="removeLecture(i)">Remove</button>
      </li>
    </ul>
  
    <input type="text" #topic placeholder="Lecture topic" />
    <input type="date" #date />
    <input type="time" #time />
    <button (click)="addLecture(topic.value, date.value, time.value); 
                     topic.value=''; date.value=''; time.value=''">
      Add Lecture
    </button>
  </div>